.header{
    position: sticky;
    top: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;        
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    background-color: whitesmoke;
}              
.headerHomeContainer{
    display: flex;
    width: 3rem;
    justify-content: space-around;
}
.navbarList{
    display: flex;
    width: 35rem;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:0px;
}
.headerListItem{
    list-style: none;
}

.itemMenuContainer{  
    margin-left: 1rem;     
    display: flex;
    width: 10rem;
    flex-direction: row-reverse;
    align-items: center;
}
.itemMenuContainer:hover{       
    border: 1px solid gray;
    border-radius: 15px;
}   
.menuLogoItem{
    display: none !important;
}



@media only screen and (max-width: 600px)  {
    .header{
        position: sticky;
        top: 0%;
        display: flex;
        flex-direction: column;        
        justify-content: center;
        align-items: center;
    }              
   .headerHomeContainer{
       display: flex;
       width: 100%;
       justify-content: space-around;
       align-items: center;
   }
   .menuLogo{
       display: flex;
       width: 100px;
       height: 255px;              
   }
   .headerBody{
       width: 20rem!important;
   }
   .navbarList{
       display: block;           
       height: 100%;       
       width: 100%;
       flex-direction: column;
       list-style: none;
       align-items: center;
       justify-content: space-around;
       padding:0px;
   }
   .headerListItem{
        margin-bottom: 1rem;
        width: 100%;
   }
   .itemMenuContainer{       
       display: flex;
       width: 90%;
       padding-left: 2rem;
       padding-right: 2rem;
       flex-direction: row;
       justify-content:  space-around;
   }
   .menuLogoItem{
       display:flex !important;
       margin-right: rem!important;
   }




}