.header{
    width: 100%;        
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}
.logos-desktop{
    display:  none;
}
.navbar-list{
    width: 1fr;
    display:flex;
    justify-content:space-between;        
    list-style: none;        
}
.header-list-item{                
    padding: 10px;
    margin-right: 40px;
}
.header-list-item:hover{
        border: 1px solid silver;
        border-radius: 5px;
        color:silver;
}
.menu-logo{
    display: none;
}
.navbar-link :hover{
    color: gray;
}
.menu-logo-item{
    display: none;
}

@media only screen and (max-width: 600px)  {
    .header{
        width: 100%;                    
        flex-direction: column !important;                       
    }
    .menu-logo{
        position: relative;
        display:flex !important;
        display:inline-flex !important;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .navbar-list{
 
    }
    .navbar-list{
        display:flex!important;             
        flex-direction: column;               
    }
    .header-list-item{                   
        margin-top: 1em;
        margin-bottom: 1em;
    }                 
    .header-title{
        margin-left: 2rem;
    }
    .item-menu-container{
        display:inline-flex !important;
        justify-content: space-between!important;
        align-items: center!important;
    }
    .menu-logo-item{    
        display: flex;        
        width: 25px;
        height: 25px;
        margin: 5px;
    }                 
}